* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #334;
  color: white;
  overscroll-behavior: none;
}
.main {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
}
.app {
  padding: 48px;
}

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 24px;
  color: #eef;
}

.blocks {
  width: min-content;
  margin: 0 auto;
  background-color: #c6c9ce;
  padding: 16px;
  border-radius: 5px;
  display: grid;
}

.blocks-row {
  display: flex;
  gap: 8px;
  padding: 12px 0;
  &:not(:last-child) {
    border-bottom: 2px solid #999;
  }
  &:first-child {
    padding-top: 0;
  }
  &:last-child {
    padding-bottom: 0;
  }
}

.word-block {
  width: 60px;
  height: 60px;
  background: #888;
  color: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.2s;
}

.word-exact {
  background: #65c865;
  color: #254a25;
}

.word-half {
  background: #c8a265;
  color: #4a3c25;
}

.word-wrong {
  background: #db8d8d;
  color: #5d3c3c;
}

.keyboard {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.keys-row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.key {
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  border: 1px solid currentColor;
  color: #aab;
  border-radius: 5px;
  transition: all 0.2s;
}

.key-full-correct {
  background-color: #65c865;
  color: #254a25;
}
.key-half-correct {
  background-color: #c8a265;
  color: #4a3c25;
}
.key-full-wrong {
  background-color: #db8d8d;
  color: #5d3c3c;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 36px;
}

button {
  display: flex;
  align-items: center;
  gap: 12px;
  background: #bbc;
  font-size: 16px;
  padding: 12px 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    filter: brightness(120%);
  }
  &:disabled {
    pointer-events: none;
  }
  &:active {
    transform: scale(105%);
  }
}

.word-input {
  color: white;
  background: transparent;
  padding: 12px;
  font-size: 18px;
  border: 1px solid #aab;
  border-radius: 5px;
  transition: all 0.2s ease-out;
  &::placeholder {
    color: #aab;
  }
  &:focus {
    outline: 2px solid #aab;
    outline-offset: 2px;
  }
}

.result {
  margin-top: 36px;
  display: flex;
  place-items: center;
  font-weight: 600;
  gap: 8px;
}
.result-lose {
  color: #fd4e4e;
}
.result-win {
  color: #65c865;
}

/* Loader */
.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}

.error {
  color: #fd4e4e;
  margin-top: 16px;
  text-align: center;
}

.btn-loader {
  display: inline-block;
  width: 24px;
  height: 24px;
  &::before {
    border: 3px solid black;
  }
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #aab;
  color: #334;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.full-page {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 756px) {
  .app {
    padding: 8px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 12px;
  }
  .blocks-row {
    padding: 6px 0;
  }
  .word-block {
    width: 32px;
    height: 32px;
    font-size: 16px;
  }
  .keyboard {
    margin-top: 20px;
    gap: 6px;
  }
  .input-container {
    margin-top: 20px;
  }
  .word-input {
    padding: 4px 8px;
    font-size: 16px;
  }
  .keys-row {
    gap: 6px;
  }
  .key {
    width: 24px;
    height: 24px;
    font-size: 14px;
  }
  .footer {
    flex-direction: column;
  }
  button {
    gap: 2px;
    padding: 6px 12px;
  }
}
